
POSTGRES_USER=slbd
POSTGRES_PASSWORD=9fLzB6@6Xa-8hCRGrakibSilent
POSTGRES_DB=slbd
DATABASE_URL=postgresql://slbd:9fLzB6@6Xa-8hCRGrakibSilent@127.0.0.1:5432/slbd?schema=public


REDIS_URL=redis://127.0.0.1:6379


BETTER_AUTH_SECRET=HGg/J9rCo+PJjc/1mrRbpCsMM/ZnKfPNCZdJadic+4g=
BETTER_AUTH_URL=https://silentlifestylebd.com




TRUSTED_PROXIES=


NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=UB872sX6JRwzrcUHQRUQQKeIWQZL13Efed4xT64n1Hk=
NEXT_PUBLIC_SITE_URL=https://silentlifestylebd.com


NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/silentlifestylebd
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_DLP4CBpgevRJdmtsZzchCtcGQfg=
IMAGEKIT_PRIVATE_KEY=private_EYAYpDdnO8KgoB6r9UKzYgAU7TA=


NODE_ENV=production
PORT=3000
HOSTNAME=127.0.0.1